
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
     <table class="table">
    <thead>
        <tr>
          <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th>District</th>
            <th>Tehsil</th>
            <th>Village</th>
            <th>Farming Type</th>
            <th>Contact Number</th>
            <th>Crops</th>
            <th>Farm Size</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
           <td> {{ user.id }} </td>
          <td> {{ user.name }} </td>
          <td> {{ user.district }} </td>
          <td> {{ user.tehsil }} </td>
          <td> {{ user.village }} </td>
          <td> {{ user.farming_type }} </td>
          <td> {{ user.contact_number }} </td>
          <td> {{ user.crops }} </td>
          <td> {{ user.farm_size }} </td>
          <td> {{ user.email }} </td>
          
          <td class="td-actions text-right">
              <!-- button type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon">
                  <i class="tim-icons icon-single-02"></i>
              </button>
              <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                  <i class="tim-icons icon-settings"></i>
              </button> -->
              <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon" (click)="deleteUsers(user)">

                  <i class="tim-icons icon-simple-remove"></i>
              </button>
           </td>
        </tr>
        
    </tbody>
</table>
    </div>
    
  </div>
</div> 






  <style>
  *:focus {
    outline: none;
  }

  body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
  }

  #login-box {
    position: relative;
    margin: 5% auto;
    padding: 50px;
    width: 600px;
    height: 800px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .left {
    position: absolute;
    top: 0;
    left: 150px;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }

  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }

  input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }

  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }

  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }

  .OR {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }

  .right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
  }

  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }

  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }

  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }

  button.social-signin.facebook {
    background: #32508E;
  }

  button.social-signin.twitter {
    background: #55ACEE;
  }

  button.social-signin.google {
    background: #DD4B39;
  }
  </style>
